<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/cache
      http://www.springframework.org/schema/cache/spring-cache.xsd
      ">
    <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
     <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <property name="locations">
             <list>
                <!-- 这里支持多种寻址方式：classpath和file -->
                 <value>classpath:conf/jdbc.properties</value>
              </list>
          </property>
      </bean>

    <!-- 加载资源文件 -->
    <bean id="properties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:conf/api.properties</value>
            </list>
        </property>
        <qualifier value="main" />
    </bean>

    <!-- 扫描文件（自动将servicec层注入） -->
    <context:component-scan base-package="com.github.jwxa.service"/>

    <!-- 支持缓存注解 -->
    <cache:annotation-driven/>

    <!--&lt;!&ndash;  缓存 &ndash;&gt;-->
    <!--<bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">-->
    <!--<property name="configLocation"  value="classpath:conf/ehcache.xml"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;默认是cacheManager &ndash;&gt;-->
    <!--<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">-->
    <!--<property name="cacheManager"  ref="cacheManagerFactory"/>-->
    <!--</bean>-->

    <!--上面老写法 下面为新写法-->
    <!-- EhCache library setup -->
    <bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
          p:configLocation="classpath:conf/ehcache.xml"/>
    <!-- 默认是cacheManager -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
          p:cacheManager-ref="cacheManagerFactory"/>

    <!--切面类用@Component注入-->
    <context:component-scan base-package="com.github.jwxa.interceptor">
    </context:component-scan>
    <!--不使用@Component则-->
    <!--<bean class="com.github.jwxa.interceptor.BasedInterceptorAspect"/>-->
    <!--<bean class="com.github.jwxa.interceptor.SystemLogAspect"/>-->

</beans>
